# Active database profile (mysql, supabase, or neon)
ACTIVE_DB=mysql

# Local MySQL Credentials
MYSQL_URL=jdbc:mysql://localhost:3306/hms_db?createDatabaseIfNotExist=true
MYSQL_USERNAME=root
MYSQL_PASSWORD=your_password

# Active database profile (supabase or neon)
ACTIVE_DB=supabase


# Supabase Credentials
SUPABASE_URL=jdbc:postgresql://<host>:<port>/postgres?sslmode=require
SUPABASE_USERNAME=postgres
SUPABASE_PASSWORD=your_password

# Neon DB Credentials
NEON_URL=jdbc:postgresql://<host>/neondb?sslmode=require
NEON_USERNAME=neondb_owner
NEON_PASSWORD=your_password
